.about-container{
    margin: 4rem 6rem;
    text-align: start;
}
.about-container h1{
    padding-bottom: 1rem;
}
.about-container p{
    padding-bottom: 2rem;
    font-size: 23px;
}
@media screen and (max-width:600px) {
    .about-container{
        margin: 2rem;
        
    } 
}
@media screen and (min-width:200px) and (max-width:400px) {
    .about-container{
        margin-top: 280px;
        
    } 
}
@media screen and (max-width:300px) {
    .about-container{
        margin-top: 410px;
        
    } 
}
